[Unit]
Description=Razer Blade XHC

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo XHC | tee /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
