ansible/roles/neovim/files/neovim/.config/nvim/autoload/
ansible/roles/neovim/files/neovim/.config/nvim/bundle
ansible/roles/weechat/files/weechat/.weechat/logs/*
ansible/roles/weechat/files/weechat/.weechat/weechat.log
ansible/roles/weechat/files/weechat/.weechat/script/plugins.xml.gz
ansible/roles/weechat/files/weechat/.weechat/python/*
ansible/roles/weechat/files/weechat/.weechat/urlgrab.conf
ansible/roles/weechat/files/weechat/.weechat/urls.log
ansible/run.retry
