---
- name: Load tilix config to dconf
  shell: dconf load /com/gexperts/Tilix/ < "{{ role_path }}/files/tilix.conf"

- name: Ensure .local/share/fonts directory exists
  file:
    path: "{{ ansible_user_dir }}/.local/share/fonts"
    state: directory

- name: Install Hack Nerd Font
  get_url:
    url: 'https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Hack/Regular/HackNerdFont-Regular.ttf'
    dest: "{{ ansible_user_dir }}/.local/share/fonts/Hack.ttf"

