---
- name: Clonning fzf-git
  git:
    repo: "https://github.com/junegunn/fzf-git.sh.git"
    dest: "{{ ansible_user_dir }}/.config/fzf-git"
    force: yes
  
- name: Install gitconfig
  ansible.builtin.copy:
    src: gitconfig
    dest: "{{ ansible_user_dir }}/.gitconfig"
