---
- name: Install system packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "{{ system_packages }}"
  become: true

- include_tasks: system-linux-desktop.yml
  when: not is_server | bool

- include_tasks: system-linux-server.yml
  when: is_server | bool
