---
- name: Install tmux
  package:
    name: tmux
    state: present
  when: ansible_system == 'Darwin'

- name: Install tmux
  package:
    name: tmux
    state: present
  become: true
  when: ansible_system == 'Linux'

- name: Deploy .tmux.conf from template
  template:
    src: tmux.conf.j2
    dest: "{{ ansible_user_dir }}/.tmux.conf"
    mode: '0644'